<h1>show</h1>

<h3>you click<%= @result_blog.title %></h3>
<h3>you clickfjnfjwnf<%= @result_blog.description%></h3>
<h3>you clickfjnfjwnf<%= @result_blog.author%></h3>

<a href="#" class="btn btn-danger">Delete</a>
<a href="#" class="btn btn-primary">update</a>

<%= link_to('delete', @result_blog , :method => :delete) %>